body {
    background-color: black;

}
.App {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: larger;
    
}

 h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: chartreuse;
    margin: 60px;

}


h2 {
    padding: 10px;
    border: chartreuse solid 2px;
}